[build]
  publish = "build"
  functions = "netlify/functions"

[build.environment]
  NODE_VERSION = "18"
  MONGODB_URI = "mongodb+srv://sergioaapazati:SergioAapaza25121998@cluster0.qiqttvg.mongodb.net/?appName=Cluster0"

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200